#dashboard-container,
#dashboard-databox-container,
#dashboard-databox-container .data-box,
#dashboard-create-buttons-container,
#dashboard-create-buttons-container .create-button,
#dashboard-last-registries,
#dashboard-table-container {
    width: 100%;
    height: 100%;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}

#dashboard-container h1 {
    color: black;
}

#dashboard-container h2,
#dashboard-container p {
    color: white;
}

#dashboard-databox-container,
#dashboard-create-buttons-container {
    display: flex;
    flex-direction: row;
}

#dashboard-create-buttons-container {
    margin-top: 5%;
}

#dashboard-databox-container .data-box {
    background-color: var(--main);
    color: white;
    text-align: center;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 1% 12px;
    margin: 0;
    border-radius: 12px;
}

#dashboard-databox-container .data-box p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

#dashboard-create-buttons-container button.create-button {
    padding: 1% 12px;
    border-radius: 12px;
}

#dashboard-databox-container .data-box+.data-box,
#dashboard-create-buttons-container .create-button+.create-button {
    margin-left: 10%;
}

#dashboard-top-contents {
    margin: 5% 0;
}

#dashboard-top-contents,
#dashboard-last-registries,
#dashboard-table-container {
    display: flex;
    flex-direction: column;
}

#dashboard-last-registries span.screen-line {
    height: 10px;
}

#dashboard-table-container table {
    text-align: left;
    color: var(--support);
    height: 50%;
}

#dashboard-table-container tr {
    border-bottom: 5px solid var(--emphasis);
    margin-bottom: 5%;
}

#dashboard-table-container th {
    color: black;
    font-weight: bold;
}

#dashboard-container span:has(button.generate-report) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 12.5%;
    width: 100%;
}

#dashboard-container button.generate-report {
    border-radius: 12px;
    background-color: var(--main);
    margin-bottom: 1%;
    height: 100%;
    width: 60%;
}

#dashboard-container span {
    display: flex;
}

@media only screen and (max-width: 1200px) {

    #dashboard-container {
        margin: 0 2.5% 0 0;
    }

    #dashboard-databox-container,
    #dashboard-create-buttons-container {
        display: flex;
        flex-direction: column;
    }

    #dashboard-databox-container .data-box+.data-box,
    #dashboard-create-buttons-container .create-button+.create-button {
        margin: 0;
        margin-top: 1%;
    }

    #dashboard-container button.generate-report {
        margin-top: 1%;
    }
}