#header-container {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    height: fit-content;
}

#header-empresalogo,
#header-lexsyslogo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 0.5%;
}

#header-container h3 {
    margin-right: 1%;
}