.toast-container {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px; 
}

.toast-container.show {
  visibility: visible;
  -webkit-animation: toast-fadein 0.5s, toast-fadeout 0.5s 2.5s;
  animation: toast-fadein 0.5s, toast-fadeout 0.5s 2.5s;
}

.toast-container.error {
    background-color: var(--failure);
}

.toast-container.success {
    background-color: var(--main);
    color: #000;
}

@-webkit-keyframes toast-fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes toast-fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes toast-fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes toast-fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}