#querygeneral-container {
    width: 100%;
}

#querygeneral-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#querygeneral-container button {
    width: 100%;
}

#querygeneral-container form .form-line.not-sparse>label {
    width: auto;
}

#querygeneral-container form .form-line.not-sparse>label+label {
    margin-left: 2.25%;
}

#querygeneral-container #query-table-container,
#querygeneral-container #query-table-container table {
    width: 100%;
    height: 100%;
}

#querygeneral-container #query-table-container thead th {
    font-weight: bold;
}

#querygeneral-invoicepaymentpopup-container,
#querygeneral-invoicecancellationpopup-container {
    background-color: var(--secondary);
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    padding: 2.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#querygeneral-invoicepaymentpopup-container h1,
#querygeneral-invoicecancellationpopup-container h1 {
    margin-bottom: 1.5%;
}

#querygeneral-invoicepaymentpopup-container .buttons,
#querygeneral-invoicecancellationpopup-container .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3.5%;
}

#querygeneral-invoicepaymentpopup-container .buttons button+button,
#querygeneral-invoicecancellationpopup-container .buttons button+button{
    margin-left: 15%;
}